<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.maidi.saas.dao.CommonDao">

    <select id="getOptions" resultType="OptionDict">
        SELECT id,name FROM ${tableName}
        <!-- <where></where>相当于sql语句中的where关键字。这个标签还有一个功能就是自动会去掉第一个and.,比如下面两句sql代码，如果第一个满足的那么就会去掉and这个关键字。 -->
        <where>
            <if test="type!=null and type!=''">
                and type=#{type}
            </if>
        </where>
    </select>

    <insert id="insertUser" parameterType="list">
        INSERT IGNORE INTO sm_user(id,name) VALUES
        <foreach collection="list" item="u" index="index" separator=",">
            (#{u.id},#{u.username})
        </foreach>
    </insert>
    <insert id="insertDict" parameterType="map">
        INSERT IGNORE INTO sm_dict(id,name,type) VALUES
        <if test="type==1">
            <foreach collection="list" item="u" index="index" separator=",">
                (#{u.dictionary_number},#{u.dictionary_name},1)
            </foreach>
        </if>
        <if test="type==2">
            <foreach collection="list" item="u" index="index" separator=",">
                (#{u.dictionary_number},#{u.dictionary_name},2)
            </foreach>
        </if>
    </insert>

</mapper>