<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.maidi.saas.dao.TaskDao">

    <resultMap type="TaskQuery" id="taskMap">
        <result column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="planCycle" property="planCycle"/>
        <result column="principal" property="principal"/>
        <result column="percentage" property="percentage"/>
        <result column="description" property="description"/>
        <result column="create_time" property="createTime"/>
        <collection property="content" select="getTaskListById" column="id" fetchType="lazy"/>
    </resultMap>

    <sql id="base_column_list">
       t.id,
       t.name,
       description,
       percentage,
       principal,
       priority,
       workload,
       stage,
       time_sheet timeSheet,
       plan_start_time planStartTime,
       plan_end_time planEndTime,
       CONCAT_WS('/',LEFT(t.plan_start_time,10),LEFT(t.plan_end_time,10)) planCycle,
       c.complete_rate,
       c.operator,
       c.notes,
       c.create_time
    </sql>

    <select id="getProjects" resultType="TreeVo">
        SELECT id,name,level,id projectId FROM sm_project
        <where>
            <if test="id!=null and id!=''">
                and id=#{id}
            </if>
        </where>
    </select>

    <select id="getTreeById" resultType="TreeVo" parameterType="int">
        SELECT id,name,level,project_id projectId ,parent_id parentId FROM sm_task
        <!-- <where></where>相当于sql语句中的where关键字。这个标签还有一个功能就是自动会去掉第一个and.,比如下面两句sql代码，如果第一个满足的那么就会去掉and这个关键字。 -->
        <where>
            <if test="taskId!=null and taskId!=''">
                and id=#{taskId}
            </if>
            <if test="projectId!=null and projectId!=''">
                and project_id=#{projectId}
            </if>
        </where>
    </select>

    <select id="listTree" resultType="TreeVo" parameterType="int">
        SELECT id,name,level,project_id projectId ,parent_id parentId FROM sm_task
        <!-- <where></where>相当于sql语句中的where关键字。这个标签还有一个功能就是自动会去掉第一个and.,比如下面两句sql代码，如果第一个满足的那么就会去掉and这个关键字。 -->
        <where>
            <if test="projectId!=null and projectId!=''">
                and project_id=#{projectId}
            </if>
            <if test="parentId!=null">
                and parent_id=#{parentId}
            </if>
            <if test="level!=null and level!=''">
                and level =#{level}
            </if>

        </where>
    </select>

    <select id="listCommonTree" resultType="CommonTree" parameterType="int">
        SELECT id,name,level,parent_id parentId FROM sm_timesheet
        <!-- <where></where>相当于sql语句中的where关键字。这个标签还有一个功能就是自动会去掉第一个and.,比如下面两句sql代码，如果第一个满足的那么就会去掉and这个关键字。 -->
        <where>
            <if test="parentId!=null and parentId!=''">
                and parent_id=#{parentId}
            </if>
            <if test="level!=null and level!=''">
                and level =#{level}
            </if>
        </where>
    </select>

    <select id="getCommonTreeById" resultType="CommonTree" parameterType="int">
        SELECT id,name,level,parent_id parentId FROM sm_timesheet
        <where>
            <if test="id!=null and id!=''">
                AND id=#{id}
            </if>
        </where>
    </select>

    <select id="getTimeSheet" resultType="TimeSheetVo">
        SELECT id,labor_hour laborHour FROM sm_timesheet
    </select>

    <select id="getTimeSheetById" resultType="TimeSheetVo" parameterType="int">
        SELECT id,name laborName,labor_hour laborHour,flag,level,parent_id parentId FROM sm_timesheet
        <where>
            <if test="id!=null and id!=''">
                AND id=#{id}
            </if>
        </where>
    </select>

    <select id="getAll" resultMap="taskMap">
        SELECT
        <include refid="base_column_list"/>
        FROM sm_task t INNER JOIN sm_task_comment c ON t.id=c.task_id GROUP BY t.id
    </select>

    <select id="getTaskListById" resultType="TaskCommentVo" parameterType="int">
        SELECT id,complete_rate completeRate,operator,notes,create_time createTime FROM sm_task_comment where task_id=#{id}
    </select>

    <select id="getTaskById" resultType="TaskVo" parameterType="int">
        SELECT
           id,
           flag,
           stage,
           description,
           percentage,
           principal,
           priority,
           workload,
           name taskName,
           time_sheet timeSheet,
           CONCAT_WS('/',LEFT(plan_start_time,10),LEFT(plan_end_time,10)) planCycle,
           plan_start_time planStartTime,
           plan_end_time planEndTime
        FROM sm_task WHERE id=#{id}
    </select>

    <select id="queryTaskInfo" resultType="TaskInfo" parameterType="SearchDict">
        SELECT
        c.id,
        complete_rate percentage,
        CONCAT_WS('/',SUBSTRING( t.plan_start_time, 6,5 ),SUBSTRING( t.plan_end_time, 6,5 )) planCycle,
        t.principal
        FROM sm_task t INNER JOIN sm_task_comment c ON t.id=c.task_id
        <where>
            <if test="projectId!=null and projectId!=''">
                AND t.project_id=#{projectId} AND t.id=#{id}
            </if>
            <if test="taskId!=null and taskId!=''">
                AND c.task_id=#{taskId}
            </if>
        </where>
    </select>

    <select id="queryTask" resultMap="taskMap" parameterType="SearchDict">
        SELECT
        <include refid="base_column_list"/>
        FROM sm_task t
        LEFT JOIN sm_task_comment c ON t.id=c.task_id
        <where>
            <if test="projectId!=null and projectId!=''">
                AND t.project_id=#{projectId}
            </if>
            <if test="taskId!=null and taskId!=''">
                AND t.id=#{taskId}
            </if>
            <if test="principal!=null and principal!=''">
                AND c.operator LIKE CONCAT('%',#{principal},'%')
            </if>
            <if test="updateTime!=null and updateTime!=''">
                AND t.update_time BETWEEN #{updateTime} AND NOW()
            </if>
        </where>
        GROUP BY t.id
    </select>
    <select id="queryTaskLog" resultType="TaskLogVo" parameterType="SearchDict">
        SELECT
        l.id,
        t.id taskId,
        t.principal,
        t.create_time createTime,
        l.operator,
        l.notes,
        l.status,
        l.update_time updateTime
        FROM
        sm_task t
        INNER JOIN sm_task_log l ON t.id = l.task_id
        <where>
            <if test="principal!=null and principal!=''">
                AND t.principal LIKE CONCAT('%',#{principal},'%')
            </if>
            <if test="updateTime!=null and updateTime!=''">
                AND l.update_time BETWEEN #{updateTime} AND NOW()
            </if>
        </where>
    </select>

    <insert id="saveTask" parameterType="TaskVo" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO sm_task (
         	project_id,
            parent_id,
            name,
            level,
            flag,
            principal,
            stage,
            priority,
            time_sheet,
            workload,
            percentage,
            description,
            plan_start_time,
            plan_end_time,
            create_time,
            update_time
          )
        VALUES (
        #{projectId},#{parentId},#{taskName},#{level},#{flag},#{principal},#{stage},#{priority},#{timeSheet},#{workload},#{percentage},#{description},#{planStartTime},#{planEndTime},now(),now()
        )
    </insert>

    <update id="updateTaskById" parameterType="TaskVo">
        UPDATE sm_task
        <set>
            update_time=now(),
            <if test="taskName != null">name=#{taskName},</if>
            <if test="principal != null">principal=#{principal},</if>
            <if test="priority != null">priority=#{priority},</if>
            <if test="stage != null">stage=#{stage},</if>
            <if test="timeSheet != null">time_sheet=#{timeSheet},</if>
            <if test="workload != null">workload=#{workload},</if>
            <if test="description != null">description=#{description},</if>
            <if test="percentage != null">percentage=#{percentage},</if>
            <if test="planStartTime != null">plan_start_time=#{planStartTime},</if>
            <if test="planEndTime != null">plan_end_time=#{planEndTime},</if>
        </set>
        WHERE id=#{id}
    </update>

    <update id="updateTimeSheetById" parameterType="TimeSheetVo">
        UPDATE sm_timesheet
        <set>
            update_time=now(),
            <if test="laborName != null">name=#{laborName},</if>
            <if test="laborHour != null">labor_hour=#{laborHour},</if>
        </set>
        WHERE id=#{id}
    </update>

    <insert id="saveTaskComment" parameterType="TaskCommentVo">
        INSERT INTO sm_task_comment (task_id,operator,notes,complete_rate) VALUES (#{taskId},#{operator},#{notes},#{completeRate})
    </insert>

    <update id="updateTaskComment" parameterType="TaskCommentVo">
        UPDATE sm_task SET percentage=#{completeRate},description=#{notes},update_time=now() WHERE id=#{taskId}
    </update>

    <insert id="saveTaskLog" parameterType="TaskLogVo">
        INSERT INTO sm_task_log (task_id,operator,notes,status) VALUES (#{taskId},#{operator},#{notes},#{status})
    </insert>

    <insert id="saveTimeSheet" parameterType="TimeSheetVo">
        INSERT INTO sm_timesheet (name,labor_hour,parent_id,level,flag) VALUES (#{laborName},#{laborHour},#{parentId},#{level},#{flag})
    </insert>

    <insert id="saveTemplate" parameterType="TemplateVo">
        INSERT INTO sm_template (project_id,name,notes,template_id,type_id) VALUES (#{projectId},#{templateName},#{notes},#{templateId},#{typeId})
    </insert>

    <select id="getType" parameterType="int" resultType="int">
        SELECT type_id FROM sm_template
        <where>
            <if test="templateId !=null and templateId!=''">
                AND id=#{templateId}
            </if>
        </where>
    </select>

    <delete id="deleteTaskById" parameterType="int">
        DELETE FROM sm_task WHERE id=#{id}
    </delete>

    <delete id="deleteSheetById" parameterType="int">
        DELETE FROM sm_timesheet WHERE id=#{id}
    </delete>

    <update id="updateStatus">
        UPDATE sm_ecode SET operator_id=#{operatorId},status=#{status}, update_time=now() WHERE id IN
        <foreach collection="list" index="index" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </update>

</mapper>